# Exclude node_modules directory
node_modules/

# Exclude build output directory
dist/

# Exclude environment variables file
.env

# Other common exclusions
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
